.title {
  color: #087B80;
  margin-top: 20px;
  font-family: Georgia, serif;

}

table {
  font-family: Georgia, serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.icon {
  color: #087B80;
  font-size: 17px;
  margin-right: 5px;
}