<!-- Header -->

<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img src="assets/logo.png" style="width: 140px; height: 50px; margin-left: 40px;" alt="Parada Pet" routerLink="/home">
    <ng-template #showLogin>
      <ion-thumbnail slot="end">
        <img src="assets/teste.png" style="width: 8
        0px; height: 40px;" alt="logue-se" routerLink="/login">
      </ion-thumbnail>
    </ng-template>

  </ion-toolbar>
</ion-header>

<!-- BODY -->

<ion-content class="ion-padding-horizontal">

  <h1>Logout / Sair</h1>

  <div class="header-img">
    <ion-icon name="log-in-outline"></ion-icon>
  </div>

  <h3>Tem certeza?</h3>
  <p>Se sair do aplicativo, terá que logar novamente para ter acesso ao conteúdo exclusivo.</p>
  <p class="ion-padding-top">
    <ion-button color="danger" expand="block" (click)="logout()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      Sair / Logout
    </ion-button>
  </p>

</ion-content>


<!-- Footer -->

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/adotar">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label>Adotar</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfiluser">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
