<!-- Header -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      src="assets/logo.png"
      style="width: 140px; height: 50px; margin-left: 40px"
      alt="Parada Pet"
      routerLink="/home"
    />

    <ng-template #showLogin>
      <ion-thumbnail slot="end">
        <img
          src="assets/teste.png"
          style="width: 8 0px; height: 40px"
          alt="logue-se"
          routerLink="/login"
        />
      </ion-thumbnail>
    </ng-template>
  </ion-toolbar>
</ion-header>

<!-- BODY -->

<ion-content class="ion-padding-horizontal">

  <ion-item routerLink="/perfilpet" class="item" *ngFor="let item of items | async" routerLink="/perfilpet/{{ item.id }}" class="fonte">
        <ion-thumbnail slot="start" class="list-img" style="background-image: url('{{ item.foto }}');">
    </ion-thumbnail>
    <ion-label>
      <h5 class="h5">{{ item.nome }}</h5>
      <p>Raça: {{item.raca}}</p>
      <p>Idade: {{item.idade}}</p>
      <p>Sexo: {{item.sexo}}</p>
      <h5 class="h5">Espécie: {{item.especie}}</h5>
      </ion-label>
  </ion-item>

</ion-content>

<!-- Footer -->

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/adotar">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label>Adotar</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfiluser">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
