<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img src="assets/logo.png" alt="Meu App 01" class="logotipo"></ion-img>



          


          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/logindoar" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="add-circle"></ion-icon>
              <ion-label>Doar</ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" (click)="updateCookie()" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="paw"></ion-icon>
              <ion-label>Adotar <ion-badge color="danger" slot="end">{{ showNotifications }}</ion-badge></ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/duvidas" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>Dúvidas</ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/suporte" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>Suporte</ion-label>
            </ion-item>
          </ion-menu-toggle>


        </ion-list>

      </ion-content>

      <ion-text class="ion-text-center ion-padding copyright">
        &copy; Copyrigth2021 Parada Pet
      </ion-text>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
