<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Artigos</ion-title>

    <ion-icon name="phone-portrait-outline" slot="end"
    size="large" class="ion-margin-end" routerLink="/home"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="items">

  <p><small>Artigos Recentes primeiro</small></p>


    <div *ngFor="let item of items | async">
     <h3>{{ item.title }}</h3>
     <img src="{{ item.thumbnail }}">
     {{ item.resume }}
    </div>


</ion-content>
