<!-- Header -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      src="assets/logo.png"
      style="width: 140px; height: 50px; margin-left: 40px"
      alt="Parada Pet"
      routerLink="/home"
    />

    <!--Pedir ajuda ao professor para resolver  <ion-thumbnail slot="end" *ngIf="auth.user | async as user; else showLogin">
      <img src="{{user.photoURL}}" alt="{{user.displayName}}" routerLink="/profile">
    </ion-thumbnail>-->
    <ng-template #showLogin>
      <ion-thumbnail slot="end">
        <img
          src="assets/teste.png"
          style="width: 8 0px; height: 40px"
          alt="logue-se"
          routerLink="/login"
        />
      </ion-thumbnail>
    </ng-template>

    <!--  <ion-icon name="phone-portrait-outline" slot="end"
    size="large" class="ion-margin-end" routerLink="/home"></ion-icon>-->
  </ion-toolbar>
</ion-header>

<!-- BODY -->

<ion-content class="ion-padding-horizontal" *ngIf="item">

  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/banner3.png" />
    </ion-slide>
  </ion-slides>

  <div class="title">
  <div class="ion-text-left">
    <h6 class="text-white"><strong>{{ (item | async)?.nome }}</strong></h6>
  </div>
  </div>
  <ion-list>
    <ion-item class="fonte">
      <ion-icon name="balloon-outline" class="icon"></ion-icon>
      <ion-label>Idade: {{ (item | async)?.idade }} </ion-label>
      <ion-icon name="male-female-outline" class="icon2"></ion-icon>
      <ion-label>Sexo: {{ (item | async)?.sexo }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="fonte">
      <ion-icon name="pricetag-outline" class="icon"></ion-icon>
      <ion-label>Espécie: {{ (item | async)?.especie }}</ion-label>
      <ion-icon name="pin-outline" class="icon2"></ion-icon>
      <ion-label>Raça: {{ (item | async)?.raca }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="fonte">
      <ion-icon name="medkit-outline" class="icon"></ion-icon>
      <ion-label>Vacina: {{ (item | async)?.vacinas }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="fonte">
      <ion-label>Descrição do animal:
        <p>{{ (item | async)?.descricao }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="title">
  <div class="ion-text-center">
    <h6 class="text-white"><strong>Responsávél</strong></h6>
  </div>
</div>
  <ion-list>
    <ion-item class="fonte">
      <ion-icon name="person-outline" class="icon"></ion-icon>
      <ion-label>Nome {{ (item | async)?.doador }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list></ion-list>

  <div class="ion-text-center">
  <ion-button size="small" color="light" routerLink="/confadotar/{{id}}">
    <ion-icon name="heart" class="icon"></ion-icon>
    ADOTAR</ion-button>
</div>
</ion-content>

<!-- Footer -->

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/adotar">
          <ion-icon name="paw-outline"></ion-icon>
          <ion-label>Adotar</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfiluser">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
