.title {
  color: #087B80;
  margin-top: 20px;
  font-size: 800px;
  font-family: Georgia, serif;
}
.fonte {
  font-size: 13px;
  font-family: Georgia, serif;
}
.icon {
  color: #087B80;
  font-size: 17px;
  margin-right: 5px;
}
.icon2 {
  color: #087B80;
  font-size: 17px;
  margin-right: 3px;
  margin-left: 5px;
}